
<div class="fixed-action-btn">

    <a href="/songs/add" class="btn-floating btn-large waves-effect waves-light" >
    <i class="fas fa-music fa-hover-hidden"></i>
    <i class="fas fa-plus fa-hover-show black darken-1"></i>
    </a>
    
    <a href="/contacts/addContact" class="btn-floating btn-large waves-effect waves-light" >
    <i class="fas fa-address-book fa-hover-hidden"></i>
    <i class="fas fa-plus fa-hover-show black darken-1"></i>
    </a>
</div>

