
<nav class="red darken-2">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">RedBird</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            
            <li><a href="/dashboard">User: {{name}}</a></li>
            <li><a href="/dashboard">Catalog</a></li>
            <li><a href="/network">Network</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>


  

<!--<i class="fa-solid fa-bird"></i> -->