<h3><i class="fas fa-crow"></i> RedBird</h3>

<div class="section">
    <span class="lead">
        <strong>Song Cataloging App for the Bold and Passionate Songwriter</strong>
    </span>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Log in with Google</a>
</div>