<h3><i class="fas fa-crow"></i> RedBird</h3>

<div class="section">
    <span class="lead">
        <strong>Song Cataloging App for the Bold and Passionate Songwriter</strong>
    </span>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Sign in with Google</a>
</div>


<!--<div class="section">
            
            {{#if success}}
            <div class="alert alert-success alert-dismissible fade show">
                <strong>{{success}}</strong>
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
            {{/if}}
            {{#if error}}
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>{{error}}</strong>
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
            {{/if}}

            <form action="" id="login" method="POST">
                <div class="form-group">
                    <label for="email"> <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="username" id="email" placeholder="Enter Your Email">
                </div>
                <div class="form-group">
                    <label for="password"><span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password">
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-info btn-block">
                </div>
               
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            New user? Register <a href="/signup">here</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        -->