p {
    margin: 10px 0 !important;
    color: rgb(0, 0, 0);
    
}
 
.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

* > .fa-hover-show,
*:hover > .fa-hover-hidden {
  display: none;
}
*:hover > .fa-hover-show {
  display: inline-block;
  
}



.img-small {
    width: 180px;
}

body {
    background: white;
    
}

h5 {
    color: rgb(232, 71, 71);
}

.header container{
    color: red;
}



