<h3>Add Song</h3>
<div class="row">
    <form action="/songs" method="POST" class="col s12" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Song Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="artist" name="artist">
                <label for="artist">Artist</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="genre" name="genre">
                <label for="genre">Genre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="mood" name="mood">
                <label for="mood">Mood</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="theme" name="theme">
                <label for="theme">Theme</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="coWriter" name="coWriter">
                <label for="coWriter">Co-Writer</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="writerSplit" name="writerSplit">
                <label for="writerSplit">Writer Splits</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="pro" name="pro">
                <label for="pro">PRO Infomation</label>
            </div>
        </div>
        <!--
        <div class="row">
            <div class=""input-field>
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
        </div> -->
        <div class="row">
            <div class="input-field">
                <label for="audioUpload" class="form-label">Song Recording</label>
                <input type="file" class="form-control" id="songFile" name="file">
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="songFileName" name="songFileName">
                <label for="songFileName">Audio File Name</label>
            </div>
        </div>
<!--
       <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        
        <div>
                <label for="audioUpload" class="form-label" src="{{song_id.songFile}}">Audio</label>
                <input type="file" class="form-control" id="songFile" name="file">
                </div>
                <div>
                <audio controls src="{{song.songFile}}"></audio>
          </div>
        -->
     
        <div class="row">
            <div class="input-field">
                <h5>Lyrics:</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
JamieBrolund
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
